:root{
  --primary-color: #201B1F;
  --secondary-color: #CCCCCC;
  --accent-color:#9593D9; 
}
*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body{
  background-color: var(--secondary-color);
  min-height: 100vh;
}
.language-btn{
  position: absolute;
  top: 3vh;
  right: 3vw;
  border-radius: 1rem;
  border:none;
  padding-inline: .5rem;
  padding-top: .3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
.language-btn:hover{
  background-color: var(--accent-color);
}
h1{
  padding: 2rem;
  text-align: center;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label{
  padding: .6rem;
  font-size: 1rem;
}
input{
  padding: .2rem;
}
button[type=submit]{
  margin: .6rem;
  font-size: 1rem;
  padding: .2rem;
}
.hide{
  display: none;
}